@import "../../css/Common";

.aboutPage {
  @include responsiveWidth2;
  text-align: center;
  @include md {
    font-size: 14px;
  }
}

.staffList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.staff {
  width: 40%;
  margin-bottom: 80px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  @include md {
    width: 100%;
    margin-bottom: 150px;
  }
}

.staffPhoto {
  margin-bottom: 150px;
  margin-left: 30px;
}

.staffName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.staffPosition{
  font-size: 24px;
  margin-bottom: 80px;
}
.staffinfo {
  font-size: 20px;
  text-align: justify;
  white-space: pre-line;
}