@import "../../css/Common";

.aboutPage {
  @include responsiveWidth2;
  text-align: center;
  margin-top: 100px;
  @include md {
    font-size: 14px;
  }
}

.staffList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.staffLeft {
  width: 45%;
  margin-bottom: 80px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  @include md {
    width: 100%;
    margin-bottom: 150px;
  }
}


.staffPhoto {
  margin-bottom: 150px;
  margin-left: 30px;
}

.staffPhoto img{
  max-width: 25vw;
  height: auto;
  @include md {
    max-width: 35vw;
  }
  @include sm {
    max-width: 60vw;
  }
}

.staffRight {
  width: 45%;
  margin-bottom: 80px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  @include md {
    width: 100%;
    margin-bottom: 150px;
  }
  .staffPhoto {
    margin-left: 0;
  }
}

.staffName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.staffPosition{
  font-size: 20px;
  margin-bottom: 80px;
}
.staffinfo {
  width: 100%;
  font-size: 16px;
  text-align: justify;
  white-space: pre-line;
}

.aboutPageContainer {
  display: flex;
  flex-wrap: wrap;
}
.aboutPageLeft {
  margin-right: 78px;
  margin-bottom: 50px;
}
.aboutPageRight {
  text-align: left;
  font-size: 16px;
  width: 50%;

  @include lg {
    width: auto;
  }
  @include sm {
    width: 100%;
  }
}
.aboutTitle {
  font-size: 20px;
}