@import "../../css/Common";

.projectDetail {
  @include responsiveWidth3;
  margin: 50px auto 100px;
}
.projectFrontImage {
  margin-top:  50px;
  margin-bottom: 100px;
}
.frontImage {
  width: 100%;
  height: auto;
}
.projectInfo {
  margin: 0 auto 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
  @include md {
    width: 80%;
  }
  @include sm{
    width: 95%;
  }
}
.projectName {
  text-align: center;
  font-size: 21px;
  margin-bottom: 50px;
}
.projectNameAddress {
  font-size: 17px;
}
.projectDescription {
  font-size: 14px;
  word-spacing: 1px;
  white-space: pre-line;
  width: 100%;
}
.projectDescription:first-letter {
  font-size: 28px;
  text-transform: uppercase;
}
.projectImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projectImageFrame {
  margin-bottom: 30px;
  margin-left: 10px;
}
.projectImage {
  object-fit: cover;
}

// ----\
.projectImageContainer {
  width: 70%;
  margin: 0 auto;
}
.react-images__dialog {
  width: 100%;
}