@import "../../css/Common";

.projectDetail {
  @include responsiveWidth3;
  margin: 50px auto 100px;
}
.projectFrontImage {
  margin-top:  50px;
  margin-bottom: 100px;
}
.frontImage {
  width: 100%;
  height: auto;
}
.projectInfo {
  margin-bottom: 100px
}
.projectName {
  text-align: center;
  font-size: 24px;
  margin-bottom: 50px;
}
.projectDescription {
  font-size: 16px;
  word-spacing: 1px;
}
.projectDescription:first-letter {
  font-size: 28px;
  text-transform: uppercase;
}
.projectImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projectImageFrame {
  margin-bottom: 30px;
  margin-left: 10px;
}
.projectImage {
  object-fit: cover;
}

// ----\
.projectImageContainer {
  width: 70%;
  margin: 0 auto;
}