//@import "../../css/Common";

.enterPage {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.enterFront {
  height: 90vh;
  position: relative;
  overflow: hidden;
}
.enterBox {
  position: absolute;
  top: 40vh;
  left: -9999px;
  right: -9999px;
}
.enterButton {
  padding: 10px 27px;
    font-size: 22px;
    border: 1px solid white;
  width: 250px;
  margin: 0 auto;
  color: white;
  text-decoration: none;
}
.enterImage {
  top: 0;
  left: -9999px;
  right: -9999px;
  margin: auto;
  height: auto;
  width: 100%;
}
.enterLogo {
  border: 1px blue;
  text-align: center;
}

.enterLogoImage {
  margin-top: 10px;
  height: 6vh;
  width: auto;
}