@import "../../css/Common";

$item-gap: 20px;
$border-gap: 100px;

.homeItem {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include responsiveWidth;
}

.homeItemLarge {
  width: 100%;
}
.homeItemMiddle {
}
.homeItemSmall {
}