@import "../../css/Common";

.header {
  height: 160px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-flow: column;

  @include sm {
    height: 130px;
  }
}

.headerPlaceholder {
  height: 160px;
  width: 100%;
  background: white;
  @include sm {
    height: 130px;
  }
}

.shrinked {
  animation: shrink-logo ease-in-out 0.4s both;
  height: 55px;
  top: 0;
  left: 0;
  position: fixed;
  flex-flow: row;
  justify-content: space-between;
  .headerBrand {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
  }
  .pageLinks{
    margin-right: 50px;
  }
}
.z-up {
  z-index: 9999;
}
.z-down {
  z-index: 0;
}

@keyframes shrink-logo {
  100% { margin-top: 0;}
}

.headerBrand {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
  @include md {
    margin-top: 25px;
    margin-bottom: 15px;
  }
  @include sm {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
  }
}
.headerLogo {
  height: 45px;
  width: auto;
  @include md {
    height: 30px;
  }
  @include sm {
    height: 20px;
  }
}
.headerLinks {
  background: rgba(225, 225, 225, 0.75);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include sm {
     height: 45px;
  }
}
.pageLinks {
  display: flex;
  justify-content: space-evenly;
  margin-left: 50px;
  @include sm {
    margin-left: 25px;
  }
}
.socialLinks {
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
  width: 200px;
  @include sm {
    display: none;
  }
}

.linkItem {
  font-size: 18px;
  text-decoration: none;
  color: black;
  margin-right: 15px;

  @include md {
    font-size: 12px;
  }
  @include sm {
    font-size: 9px;
    margin-right: 10px;
  }
}
