.photoContainer {
  position: relative;
  padding: 20px;
}

.photoMask {
  background: black;
  opacity: 0.4;
  position: absolute;
}

.photoImage {
}

.photoInfo {
  background: transparent;
  position: absolute;

  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;

  color: white;
}
.photoPlaceholder {
  height: 10%;
}
.photoProjectInfo {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.photoProjectName{
  text-transform: uppercase;
  font-size: 32px;
}
.photoProjectNameUnderLine {
  background: white;
  height: 1px;
  width: 60px;
  border-top: 1px solid white;
  border-radius: 5px;
  margin-top: 20px;
}
.photoProjectType {
  text-transform: uppercase;
  font-size: 16px;
  height: 10%;
}
