

$projectWidth: calc(100% - 100px);
$projectWidth-lg: calc(100% - 100px);
$projectWidth-md: calc(100% - 50px);
$projectWidth-sm: calc(100% - 25px);

$projectWidth2: calc(100% - 400px);
$projectWidth-lg2: calc(100% - 250px);
$projectWidth-md2: calc(100% - 125px);
$projectWidth-sm2: calc(100% - 50px);

$projectWidth3: calc(100% - 600px);
$projectWidth-lg3: calc(100% - 400px);
$projectWidth-md3: calc(100% - 200px);
$projectWidth-sm3: calc(100% - 100px);

$black: #000;
$white: #fff;
$gray: #dae4e1;

$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

a:hover {
  text-decoration: none;
  color: inherit;
}
// Small devices
@mixin sm {
  @media (max-width: #{$screen-md-min - 1px}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-lg-min - 1px}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-xl-min - 1px}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin responsiveWidth {
  width: $projectWidth;
  margin: 50px auto 100px;
  @include lg {
    width: $projectWidth-lg;
    margin: 40px auto 80px;
  }
  @include md {
    width: $projectWidth-md;
    margin: 30px auto 60px;
  }
  @include sm {
    width: $projectWidth-sm;
    margin: 20px auto 50px;
  }
}

@mixin responsiveWidth2 {
  width: $projectWidth2;
  margin: 50px auto 100px;
  @include lg {
    width: $projectWidth-lg2;
    margin: 40px auto 80px;
  }
  @include md {
    width: $projectWidth-md2;
    margin: 30px auto 60px;
  }
  @include sm {
    width: $projectWidth-sm2;
    margin: 20px auto 50px;
  }
}

@mixin responsiveWidth3 {
  width: $projectWidth3;
  margin: 50px auto 100px;
  @include lg {
    width: $projectWidth-lg3;
    margin: 40px auto 80px;
  }
  @include md {
    width: $projectWidth-md3;
    margin: 30px auto 60px;
  }
  @include sm {
    width: $projectWidth-sm3;
    margin: 20px auto 50px;
  }
}