@import "../../css/Common";

.footer {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: $gray;
}
.footerLogo {
  margin-bottom: 30px;
}
.footerLogo > img {
  width: 150px;
  height: auto;
}
.footerAboutContact {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.footerLinks {
  display: flex;
  flex-flow: row;
  width: 230px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footerEmailLinks {
  color: #000;
}
.footerMobile {
}

.footerLinkIcon {
}
.footerLinkIcon > img {
  width: 35px;
  height: 35px;
}

.footerCopyRight {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.footerCopyRight > div {
  margin-bottom: 10px;
}