@import "../../css/Common";

.clientPage {
  width: $projectWidth;
  margin: 50px auto 100px;

  display: flex;
  align-items: center;
  flex-flow: column;
  height: auto;
  @include sm {
    width: 100%;
  }
}
.clientPage img{
  width: 100%;
}